@charset "UTF-8";

:root {
  --primary-color: #64b358;
  --secondary-color: #4f61a2;
  --tertiary-color: #fefefe;
  --max-content-page: 1050px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
}

a {
  color: unset;
  text-decoration: none;
}

a.link {
  color: var(--primary-color);
  text-decoration: underline;
}

a.link-secondary {
  color: var(--secondary-color);
  text-decoration: underline;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/*
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
}
 */

table td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  padding: 0.5rem;
}

main {
  background-color: var(--tertiary-color);
}

/* UTILS */

.mb-5 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

/* CLASSES */

.header-container {
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-bottom: 3rem solid var(--secondary-color);

  text-align: center;
}

.header-container .if-logo {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-size: 3.7rem;
  padding: 1rem;
  width: 170px;
  display: block;
  margin: 1rem auto;
}

.header-container h2 {
  font-size: 2.7rem;
}

.header-container h3 {
  font-size: 2rem;
}

.informative-container {
  max-width: var(--max-content-page);
  padding: 1rem;
  margin: 2rem auto;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.informative-container nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informative-container nav span {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

.informative-container nav span.active,
.informative-container nav span:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
}

#showcase-container {
  font-family: 'Roboto', sans-serif;
  display: none;
  max-width: var(--max-content-page);
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid var(--primary-color);
}

.courses-container {
  max-width: var(--max-content-page);
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.courses-container .courses {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-block: 1rem;
}

.courses-container .course {
  flex: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.courses-container .course:hover {
  border: 1px solid var(--secondary-color);
}

.courses-container .course .img-course {
  width: 90%;
  display: block;
  margin: auto;
}


.registrations-container {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, var(--primary-color) 0%, var(--secondary-color) 100%);
  color: var(--tertiary-color);
  font-size: 1.2em;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  margin-block: 1rem;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.registrations-container .texts {
  flex: 2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.registrations-container .qr-code {
  flex: 1;
  text-align: center;
}

.registrations-container .qr-code img {
  background-color: white;
  height: 200px;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #eee;
}

.ifmslogo {
  height: 20vh;
}

.doll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boneca {
  height: 40vh;
}

.last-banner-container {
  max-width: var(--max-content-page);
  padding: 1rem;
  flex-wrap: wrap;
  display: flex;
  margin: 1rem auto;
  justify-content: space-between;
  gap: 2rem;
}

.last-banner-container .post-it {
  background-image: url(../media/sticky.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5.85rem 3.4rem 5rem 4em;
  flex: 1;
  min-height: 400px;
}

.last-banner-container .doll {
  padding: 2rem;
  flex: 2;
}

.last-banner-container .doll button,
button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 12px 2rem;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: 1rem auto;
}

/*
.last-banner-container .doll button,
button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 12px 2rem;
  border: 0px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: 1rem auto;
}
 */

.last-banner-container .doll button:hover,
button[type="submit"]:hover {
  transform: scale(1.2);
  transition: 1s;
}

.footer-container {
  font-family: 'Roboto', sans-serif;
  padding: 2rem;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  border-top: 10rem solid var(--secondary-color);
}

.footer-container > div {
  flex: 1;
}

/* the modal form */

form {
  padding-top: 2rem;
}

label {
  font-size: 14px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

input {
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

input:focus {
  background-color: #eee;
  border-color: #999;
}

/* Esconde o input do radio padrão */
input[type='radio'] {
  display: none;
}

/* Estilo do contêiner do radio personalizado */
.radio-container {
  --bg-color: black;
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

/* Estilo do radio personalizado quando não selecionado, você pode ajustar a cor e o tamanho conforme preferir */
.radio-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--bg-color);
}

.radio-container:has(input:checked)::before {
  background: var(--bg-color);
}

@media (min-width: 600px) {
  main {
    margin: auto;
  }

  .informative-container nav {
    flex-direction: row;
    border-radius: 5px;
  }

  .registrations-container {
    font-size: 2em;
  }

  .last-banner-container .post-it {
    padding: 6rem 6rem 4.5rem;
  }

  .footer-container {
    flex-direction: row;
    gap: 8rem;
  }
}

/*
Formatção de Imagens Dinamica! e Botão Inscriver-se!
 */

.foto-dinamica {
 /* border: solid #64b358;
  box-shadow: 1px 1px 4px #4f61a2; */
  overflow: hidden;
}

.foto-dinamica img {
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.foto-dinamica:hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.botao-dinamica:hover {
  border: solid #4f61a2;
  box-shadow: 1px 1px 35px #4f61a2;
  background-color: #4f61a2 !important;
  transition: 0.5s;
  opacity: 0.9;
}
